
JUDNAME='users.jabber.org'
ROUTERHOST='localhost'
ROUTERPORT=33333
ROUTERPASSWORD='tada'
WEBINTERFACE='http://users.jabber.org/'
MYSQLHOST='sql.jabber.org'
MYSQLUSER='jud'
MYSQLPASS='judpw'
MYSQLDB='jud'
MYSQLLIMIT=5
